body{
    font-family: "montserrat";
    background-color: black;
}
#title{
    background-color: black;
    color: white;
}
h1{
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}
h3{
    font-family: "montserrat-bold";
}
h2{
    font-family: "montserrat-bold";
    font-size: 3rem;
    line-height: 1.5;
}
p{
    color: #8f8f8f;
}
.logo-name{
    text-shadow: 1px 1px 1px rgb(247, 247, 244);
}
.logo-name span{
    color: rgba(255, 166, 0, 0.807);
    text-shadow: 2px 2px 1px rgb(226, 158, 11);
}
.motto{
    color: white;
}
.motto span{
    color: rgb(160, 159, 159);
}
.container-fluid{
    padding: 3% 15%;
}
/* Navigation Bar */
.navbar{
    padding:0 0 4.5rem;
}
.navbar-brand{
    font-family:"Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 1px 1.5px 3px rgb(116, 116, 114);
    letter-spacing: .2rem;
}
.nav-item{
    padding: 0 18px;
   
}
.nav-link{
    font-family: "Monterrat-light";
    font-size: 1.2rem;
    color:rgb(225, 225, 225);
}
/* Title Image */
.title-image{
    width: 60%;
    transform: rotate(10deg);
    box-shadow: 6px 4px 2px 2px rgb(253, 253, 253);
}
/* Features Section */
#features{
    padding: 1% 9%;
    background-color: white;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color: black;
    margin-bottom: 1rem;
}
.icon:hover{
    color: orange;
}
/* Testimonial Section */
#testimonials{
    padding: 2% 10%;
    text-align: center;
    background-color:black ;
    color: white;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
#press{
    background-color: white;
    text-align: center;
    padding: 2% 10%;
}
.press-logo{
    width:15%;
    margin:20px 20px 50px;
}
/* Pricing Section */
#pricing{
    background-color: black;
    padding: 2% 10%;
}
.pricing-col{
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
}
.pricing-outline{
    padding-top: 2%;
}
.pricing-plans{
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    color: white;
}
.pricing-plans p{
    color: rgb(194, 191, 191);
}
.players{
    border: solid rgb(44, 43, 43) 1px;
    box-shadow: 3px 5px 3px 2px rgb(43, 43, 43);
}
.player-name{
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: .3px 1px white;
}
/* Call to Action */
#cta{
    background-color: black;
    padding: 2% 13%;
    text-align: center;
    color: white;
    margin-top: 1%;
}
#cta h3{
    padding-bottom: 1%;
}
#footer{
    padding: 1% 13%;
    text-align: center;
    background-color: black;
}
#footer p{
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: "montserrat-black";
}
.github{
    text-decoration: none;
    color: white;
}
.github:hover{
    color: rgb(195, 133, 17);
    transition: 1s;
}